/* ====Google Fonts ==== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 32px;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color:#008148;
    --second-color:#1e3932;
}

section {
    padding: 50px 10%;
}

*::selection {
    color: #fff;
    background: var(--main-color);
}

.section-padding {
    padding: 100px 0;
}

img {
    width: 100%;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 40px;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 16px;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}

.navbar a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #ebdbc8;
    gap: 16px;
}

.home-text {
    flex: 1 1 272px;
}

.home-img {
    flex: 1 1 272px;
}

.home-img img {
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-11px, 0);
    }
    50% {
        transform: translate(-0px, -11px);
    }
    100% {
        transform: translate(-11px, 0);
    }
}

.home-text span {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
}

.home-text h1 {
    font-size: 3.2rem;
    color: var(--main-color);
    font-weight: bolder;
}

.home-text h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
}

.btn {
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}

.btn:hover {
    color: #fff;
    background: var(--second-color);
}

.heading {
    text-align: center;
}

.heading span {
    font-size: 16px;
    font-weight: 600;
    color: var(--second-color);
}

.heading h1 {
    font-size: 32px;
    color: var(--main-color);
}

.shop-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 80px;
}

.shop-container .box {
    flex: 1 1 160px;
    background: var(--main-color);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    border-radius: 8px;
}

.shop-container .box .box-img {
    width: 150px;
    height: 150px;
    margin-top: -100px;
}

.shop-container .box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;

}

.stars {
    margin: 16px 0 0 1.6px;
}

.shop-container .box .stars .bx {
    color: #ebdbc8;
}

.shop-container .box h2 {
    color: #ebdbc8;
    font-size: 1.2rem;
}

.shop-container .box span {
    color: #ebdbc8;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 3.2px 0 8px;
}

.box .btn {
    border: 2px solid #ebdbc8;
    color: #ebdbc8;
}

.box .btn:hover {
    background: #ebdbc8;
    color: var(--second-color);
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 32px;
}

.delivery-img, .app-img {
    flex: 1 1 336px;
}

.delivery-text, .app-text {
    flex: 1 1 336px;
}

.delivery-text h2, .app-text h2 {
    font-size: 1.2rem;
    color: var(--second-color);
}

.delivery-text p, .app-text p {
    margin: 8px 0 16px;
    text-align: justify;
}

.about {
    display: flex;
    flex-wrap: wrap;
    background: #ebdbc8;
    gap: 24px;
}

.about-img {
    flex: 1 1 272px;
}

.about-text {
    flex: 1 1 272px;
}

.about-text h2 {
    font-size: 1.2rem;
    color: var(--second-color);
}

.about-text p {
    margin: 8px 0 16px;
    text-align: justify;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social a {
    font-size: 27px;
    margin: 8px;
}

.social a .bx {
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 50%;
}

.social a .bx:hover {
    background: var(--main-color);
}

.links {
    margin: 16px 0 16px;
}

.links a {
    font-size: 16px;
    font-weight: 500;
    color: var(--second-color);
    padding: 16px;
}

.links a:hover {
    color: var(--main-color);
}

.contact p {
    text-align: center;
}

@media (max-width: 1150px) {
    header {
        padding: 18px 7%;
    }
    section {
        padding: 50px 7%;
    }
    .home-text h1 {
        font-size: 48px;
    }
    .home-text h2 {
        font-size: 24px;
    }
}

@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }
    section {
        padding: 50px 4%;
    }
}

@media (max-width: 768px) {
    header {
        padding: 11px 4%;
    }
    #menu-icon {
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
        border-top: 2px solid var(--main-color);
        transition: 0.2s;
        text-align: left;
    }
    .navbar.active {
        top: 100%;
    }
    .navbar a {
        padding: 16px;
        display: block;
        color: var(--second-color);
    }
    .home-text span {
        font-size: 14.4px;
    }
    .home-text h1 {
        font-size: 38.4px;
    }
    .home-text h2 {
        font-size: 19.2px;
    }
}

@media (max-width: 560px) {
    .home-text {
        padding-top: inherit;
    }
    .shop-container .box {
        margin-top: 96px;
    }
    .heading h1 {
        font-size: 24px;
    }
    .heading h2 {
        font-size: 14.4px;
    }
    .about {
        flex-direction: column-reverse;
    }
}
@media (max-width: 365px) {
    .links {
        display: flex;
        flex-direction: column;
    }
}